<div class="banner-container">
    <div class="banner-content">
        <h1>MyBlog</h1>
        <p>A place where you can share your stories...</p>
        <a href="/posts" class="rounded-pill banner-button">Start Reading</a>
    </div>
</div>
