<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm"  style="height: 70px;">
  <div class="container-fluid">
    <a class="nav-logo-link" href="/">📝 MyBLOG</a>

    <form class="d-flex ms-3" action="/posts/search" method="GET">
      <input class="form-control me-2 rounded-pill" type="search" placeholder="Search posts..." name="search" aria-label="Search">
    </form>
 
      <a class="nav-logo-link" href="/topics">Explore topics
      </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav navbar-nav">
        <% if (currentUser) { %>
        <li class="nav-item">
          <a class="nav-logo-link" href="/posts/new" title="Write a new post">
            <i class="bi bi-pencil-square"></i>
          </a>
        </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="/posts">All Posts</a>
        </li>

        <% if (currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/posts/myPosts">My Posts</a>
        </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="/topics">Categories</a>
        </li>

        <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="btn btn-outline-secondary rounded-pill" href="/auth/login">Login / Signup</a>
        </li>
        <% } else { %>
        <li class="nav-item dropdown">
          <a class="nav-logo-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            You
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/auth/profile/<%= currentUser.id %>">Profile</a></li>
            <li><a class="dropdown-item" href="/settings">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>